@import url('https://fonts.googleapis.com/css2?family=Abel&family=Eczar&family=Vidaloka&display=swap');
body {
    background-color: rgb(0, 17, 39);
    color:white;
    font-size: 20px;
    font-family: 'Eczar', serif;
}
h1 {
    margin: 20px auto;
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: none;
    font-size: 28px;
    font-family: 'Vidaloka', serif;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    -webkit-backdrop-filter: brightness(70%);
    backdrop-filter: brightness(70%);
    border-radius: 20px;
}
.mainParent {
    display: flex;

}
.inputParent {
    display: flex;
    flex-direction: column;
}
.inputBox {
    margin: 20px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: brightness(120%);
    backdrop-filter: brightness(120%);
    border-radius: 30px;
    padding: 10px;
}
.inputLabelGroup {
    display: flex;
    align-items:center;
}
.input {
    margin: 5px;
    border-radius: 20px;
    height: 25px;
    background-color: cornflowerblue;
    filter: brightness(70%);
    font-size: 20px;
    width: 50px;
    text-align: center;
}

select {
    margin: 5px;
    background-color: cornflowerblue;
    font-size: inherit;
    filter: brightness(70%);
    width: 150px;
    color: black;
    border-radius: 20px;
}

.resultsParent {
    display: flex;
    flex-direction: column;
}
.resultsBox {
    margin: 20px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: brightness(80%);
    backdrop-filter: brightness(80%);
    border-radius: 30px;
    padding: 10px;
}
button{
    width: 120px;
    align-self: center;
    height: 45px;
    font-family: inherit;
    font-size: 18px;
    border-radius: 20px;
    background-color: indianred;
    cursor: pointer;
    color: black;
}
.resultLabel {
    color: greenyellow;
}

footer {
    font-size: 17px;
    text-align: center;
    line-height: 15px;
}
a{
    color: rgb(145, 145, 145);
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .mainParent {
        flex-direction: row;
    }
    .inputParent {
        width: 50%;
    }
    .resultsParent {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .mainParent {
        flex-direction: column;
    }
    .inputParent {
        width: 100%;
    }
    .resultsParent {
        width: 100%;
    }
}
